@model Website_Laptop.Models.PcChatLieuSp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddChatLieu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Thêm chất liệu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaChatLieu" class="control-label"></label>
                <input asp-for="MaChatLieu" id="MaChatLieu" class="form-control" />
                <span asp-validation-for="MaChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenChatLieu" class="control-label"></label>
                <input asp-for="TenChatLieu" id="TenChatLieu" class="form-control" />
                <span asp-validation-for="TenChatLieu" class="text-danger"></span>
            </div>
        </form>
        <div class="form-group">
            <button type="submit" onclick="AddChatLieu()" class="btn btn-primary">Thêm</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="ChatLieuSanPham">Trở lại danh sách</a>
</div>
<script>

    function AddChatLieu() {
        var maChatLieu = document.getElementById('MaChatLieu').value;
        var tenChatLieu = document.getElementById('TenChatLieu').value;


        axios.post('/api/MaterialApi', {
            maChatLieu: maChatLieu,
            tenChatLieu: tenChatLieu,

        })
            .then(response => {
                // Hiển thị thông báo thành công bằng SweetAlert2
                Swal.fire({
                    icon: 'success',
                    title: 'Thêm thành công',
                    text: 'Chất liệu sản phẩm đã được thêm thành công.',
                }).then(() => {
                    // Chuyển hướng sau khi nhấn OK trong thông báo
                    window.location.href = '/Admin/ChatLieuSanPham';
                });
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Trùng mã chất liệu sản phẩm!',
                });
            });
    }


</script>

