@model IEnumerable<Website_Laptop.Models.PcDanhMucSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AnhSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ảnh sản phẩm</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Ảnh đại diện
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSp)
                </td>
                <td>
                    <img class="rounded-circle" style="width: 40px; height: 40px;" src="~/img/product/@item.AnhDaiDien" alt="">
                </td>
                <td>
                    <a asp-action="DetailsAnhSp" asp-route-maSp="@item.MaSp">Chi tiết</a> |
                    <a asp-action="AddAnhSp" asp-route-maSp="@item.MaSp">Thêm ảnh</a>
                </td>
            </tr>
        }
    </tbody>
</table>
