@if(TempData["success"]!=null){
    <div class="alert-success">
        @TempData["success"];
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert-danger">
        @TempData["error"];
    </div>
}